h1{
	text-align:center;
}
title{
	position: absolute;
}
*{
	font-family: arial;
}
section{
	box-sizing:border-box;
	background-color: #D3D3D3;
	border: 1px solid black;
	width: 30%;
	margin: 10px;
	position:relative;
	float:left;

}
div{
		padding:10px;
		padding-top: 40px;
}

p{
	border: 1px solid black;
	float:right;
	margin: 0px;
	padding: 5px;
	text-align: center;
}
/*#section1{
	float:left;
}
#section2{
	float:right;
}
#section3{
	float:left;
}*/
#chicken{
	background-color: #ffb6c1;
	width: 33%;
}

#beef{
	background-color: #ff0000;
	width: 33%;
}

#sushi{
	background-color: #ffff00;
	width: 33%;
}

@media (min-width: 768px) and (max-width: 991px) {
section{
	width:47%;
}

#section3{
	width:100%;
	clear:left;
}
#sushi{
	width:20%;
}
}

@media (max-width: 767px){
section{
	width:100%;
}
}
