h1{
	text-align:center;
}
title{
	position: absolute;
	font-size: 21pt;
}
*{
	font-family: arial;
	box-sizing:border-box;
}
section{
	box-sizing:border-box;
	background-color: #D3D3D3;
	border: 1px solid black;
	width: 31%;
	margin: 10px;
	position:relative;
	float:left;

}
div{
		padding:10px;
		padding-top: 40px;
		margin:10px;
}

p{
	font-size: 15pt;
	border: 1px solid black;
	float:right;
	margin: auto;
	padding: 5px;
	text-align: center;
}

#chicken{
	background-color: #ffb6c1;
	width: 33%;
}

#beef{
	background-color: #ff0000;
	width: 33%;
}

#sushi{
	background-color: #ffff00;
	width: 33%;
}

@media (min-width: 768px) and (max-width: 991px) {
	section{
		width:47%;
	}

	#section3{
		width:97%;
		clear:left;
	}
	#sushi{
		width:20%;
	}
}

@media (max-width: 767px){
	section{
		width:97%;
	}
}
